@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
.fixedTicker{
  position: fixed;
  bottom: 1.8vh;
  border: none;
  overflow: hidden;
}
.ticker{
  left: 1.8vw;
  height: 5.5vw;
  width: 97.2vw;
}
.tickerOnepoint{
  padding: 0.1vw;
  left: 1vw;
  height: 9.2vw;
  width: 20vw;
  background-color: rgb(32, 64, 170);
  font-size:  2.8vw;
  font-weight: 550;
  text-align: center;
  color: #fff;
}
#tickerFrame{
  width: 102%;
  border: none;
  overflow: hidden;
}
#t_clock{
  position:fixed;
  bottom: 3vw;
  right:  0;  
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 15vw;
  font-weight:900;
  transform: scaleX(0.9);
  color: #FFF;
  -webkit-text-stroke: .5vw #235;
  text-stroke: .5vw #235;
}
