@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');
.fixedTicker{
  position: fixed;
  bottom: 1.8vh;
  border: none;
  overflow: hidden;
  z-index: 5;
}
.ticker{
  left: 1.8vw;
  height: 5.2vw;
  width: 88.2vw;
  z-index: 6;
}
.tickerOnepoint{
  padding: 0.1vw;
  left: 1vw;
  height: 9vw;
  width: 20vw;
  background-color: rgb(32, 64, 170);
  font-size:  2.8vw;
  font-weight: 550;
  text-align: center;
  color: #fff;
}
.tickerClock{
  padding: 0.1vw;
  right:    1vw;
  height:   9vw;
  width:   8vw;
  background-color: #EEE;
  font-size:  2.8vw;
  text-align: center;
  color: rgb(32, 64, 170);
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}
#tickerFrame{
  width: 105%;
  border: none;
  overflow: hidden;
}
.t_logo{
  height:      6vw;
  line-height: 3vw;
}
#t_clock{
  margin: -0.5vw 0 0 -0.1vw;
  font-size: 3vw;
  transform: scaleX(0.9);
}