div.modal{
  margin:auto;
  width:24em;
  max-width:100%;
  text-align:center;
}
section.modal{
  margin:0;
  width:100%;
  text-align:center;
  font-size: 2vw;
  display: none;
}

input[type="text"]{
  font-size: 1em;
  border-radius: .3em;
  border: solid .08em #CCC;
}      
input[type="text"].url{
  width: 22em;
}      
input[type="text"].iframeId{
  width: 8em;
}      
input[type="text"].reloadDur{
  width: 5em;
  text-align: right;
}      

input[type="button"]:active{
  background-color:#DDD;
}      

input[type="button"]:hover{
  background-color:#AAA;
  transition: all 0.3s ease-out;
}  
input[type="button"]:disabled{
  background : #999;
}     
input[type="button"]{
    display    : inline-block;
    height     : 2.5em;
    width      :  8em;  max-width   : 35%; max-width:24em;
    padding    : 0.1em;
    margin     : 3px; 
    font-weight: bold; 
    font-size  : .8em;
    text-align : center;
    background : #EEE;
    color      : #000;
    border     : 0em solid #EEE;
    border-radius: 0.5em;
}
#settingSec{
  position:fixed;
  top:0; bottom:0; right:0; left:0;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height:100vh;
  text-align: center;
  align-items: center;
}
#settingSecInner{
  width :39.0em; 
  max-width: 94%;
  max-height:92vh;
  margin: 5vh auto 0 auto;
  display:flex;

  flex-direction: column;

  border: 0em none #FFF;
  background-color: #FFF;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size:1em;
  border-radius: 0.3em;
}
#settingSecText{
  margin-top:0.5em;
  width :38.0em;       max-width :92vw;
  min-height:6.0em;    max-height:80vh;
  margin:0.5em 0.5em 0 0.5em ;
  overflow-y:scroll;
}
#settingSec{
  z-index:9;
}

div.ctrlPageNum{
  width: 100%;
  text-align: right; 
}
div.ctrlPageNum > input[type="button"]{
  margin: 0 0 0 0;
  width: 2em; 
}