@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
html body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

#main {
  border: solid 0px #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  bottom: 4rem;
  display: block;
  margin: auto;
  font-family: 'Kosugi Maru', sans-serif;
}

.route {
  position: relative;
  width: auto;
  height: auto;
  margin-bottom: 4rem;
  display: block;
  margin: auto;
}

#kansai {
  width: 960px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  max-height: 4rem;
  text-align: center;
  background-color: lightgray;
  font-family: 'Kosugi Maru', sans-serif;
}

.mem {
  font-size: 1.25em;
  overflow: auto;
  font-family: 'Kosugi Maru', sans-serif;
}

.mem > input{
  padding: 0.1em;
  margin: 0.1em;
  border-radius: 0.1em;
}